<footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>


    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/tienda/index.js"></script>
    <script src="/tienda/publicar.js"></script>  
    <script src="/tienda/actualizar.js"></script>  
    <script src="/tienda/borrar.js"></script>
    <script src="/tienda/buscar.js"></script>  
  </body>
</html>